<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>语言计算实验室</title>
</head>
<!-- Docs master nav -->
<header class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/index" class="navbar-brand">语言计算实验室(LC-LAB)</a> </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               语言计算技术 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/nlp_index">NLP综合处理平台(网址版)</a></li>
               <li><a href="/nlp_index_local">NLP综合处理平台(文本版)</a></li>

            </ul>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               词语计算 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a  href="/search_index">百科知识集成平台</a></li>
                <li><a  href="/ncc_index">NCC领域历时标题语料库</a></li>
                <li><a href="/word_search_index">领域词聚类检索</a></li>
            </ul>
         </li>

         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               热点计算 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/online_news_index">实时社会热点检索</a></li>
               <li><a href="/offline_news_index">历时社会热点检索</a></li>
            </ul>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               人物计算 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
             <li><a href="/person_relation_search_index">人物关系知识图谱</a></li>
               <li><a  href="/story_kg_search_index">小说人物知识图谱</a></li>

            </ul>
         </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               文学计算<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a  href="/book_search_index">图书百科知识平台</a></li>
                  <li><a  href="/novel_search_index">文学画像检索平台</a></li>
            </ul>
         </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               职位计算<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a  href="/job_search_index">职位画像知识平台</a></li>
            </ul>
         </li>
          </ul>
    </nav>
  </div>
</header>
<body>
<center>
     <br>
     <br>
    <br>
<div class="ui grid">
  <div class="five wide column">

   <div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="/static/images/my_image7.jpg" class="visible content">
  </div>
  <div class="content">
    <a class="header">liu huanyong <br>
                      刘焕勇 </a>
    <div class="meta">
      <span class="date">Born in 1993.10</span>
    </div>
  </div>
  <div align="left" class="extra content">
      <i class="university icon"></i>：哈尔滨师范大学 <br>
      <i class="database icon"></i>：2010-2014：理学学士 <br>
      <i class="student icon"></i>：信息与计算科学<br>
      <i class="university icon"></i>：北京语言大学 <br>
      <i class="database icon"></i>：2014-2017：文学硕士 <br>
      <i class="student icon"></i>：语言学及应用语言学/语言信息处理<br>
  </div>
  </div>
  </div>
  <div class="six wide column">
  <div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="/static/images/my_image2.jpg" class="visible content">
  </div>
  <div class="content">
    <a class="header">liu huanyong <br>
                      刘焕勇 </a>
    <div class="meta">
      <span class="date">Born in 1993</span>
    </div>
  </div>
  <div align="left" class="extra content">
      <i class="mail icon"></i>：lhy_in_blcu@126.com<br>
      <i class="marker icon"></i>：北京语言大学语言监测与社会计算研究所<br>
      <i class="marker icon"></i>：国家语言资源监测与研究平面媒体中心<br>
      <i class="marker icon"></i>：北京市海淀区学院路15号<br>
      <br>
  </div>
  </div>
  </div>
<div class="five wide column">

    <div class="ui card">
  <div class="ui slide masked reveal image">
    <img src="/static/images/my_image5.jpg" class="visible content">
  </div>
  <div class="content">
    <a class="header">liu huanyong <br>
                      刘焕勇 </a>
    <div class="meta">
      <span class="date">Born in 1993.10</span>
    </div>
  </div>
  <div align="left" class="extra content">
    <i class="empty heart icon"></i>：旅行、火车、地图<br>
      <i class="smile icon"></i>：英语、汉语、客家语、各国语<br>
      <i class="plane icon"></i>：印度<br>
      <i class="cubes icon"></i>：为什么活，靠什么活，怎么活<br>
      <i class="thumbs outline up icon"></i>：NLP+创意想法=乐语<br>
      <i class="book icon"></i>：信息检索、知识图谱<br>
      <br>
  </div>
</div>
</div>
</div>
</center>
<br>
<br>
<br>
  <div class="footer" align="center">
   <p>语言计算实验室Copyright© 2016 <a href="www.scentlip.com">www.scentlip.com</a> All Rights Reserved-京ICP备16038988</p>

</div>
</body>

<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css"/>
    <script type="text/javascript" src="/static/semantic/dist/semantic.min.js"></script>
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
