<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>语言计算实验室</title>
</head>
<!-- Docs master nav -->
<header class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/index" class="navbar-brand">语言计算实验室(LC-LAB)</a> </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               语言计算技术 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/nlp_index">NLP综合处理平台(网址版)</a></li>
               <li><a href="/nlp_index_local">NLP综合处理平台(文本版)</a></li>

            </ul>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               词语计算 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a  href="/search_index">百科知识集成平台</a></li>
                <li><a  href="/ncc_index">NCC领域历时标题语料库</a></li>
                <li><a href="/word_search_index">领域词聚类检索</a></li>
            </ul>
         </li>

         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               热点计算 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/online_news_index">实时社会热点检索</a></li>
               <li><a href="/offline_news_index">历时社会热点检索</a></li>
            </ul>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               人物计算 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
             <li><a href="/person_relation_search_index">人物关系知识图谱</a></li>
               <li><a  href="/story_kg_search_index">小说人物知识图谱</a></li>

            </ul>
         </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               文学计算<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a  href="/book_search_index">图书百科知识平台</a></li>
                  <li><a  href="/novel_search_index">文学画像检索平台</a></li>
            </ul>
         </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               职位计算<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a  href="/job_search_index">职位画像知识平台</a></li>
            </ul>
         </li>
          </ul>
    </nav>
  </div>
</header>
<body>
<br>
<br>
<br>
<center>
<div class="ui grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <h1><font size="6" face="黑体">领域词聚类检索</font></h1>
   <form action="/word_search_show/" method="get">
       <div class="ui fluid icon input">
        <input type="text" placeholder="Search..."  name="q">
       <i class="search icon"></i>
       </div>
   </form>
    {# 这是页面底部#}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div id=”footer”>
    </div>
  </div>
<div class="three wide column"></div>
</div>
</center>
  <div class="footer" align="center">
   <p>语言计算实验室Copyright© 2016 <a href="www.scentlip.com">www.scentlip.com</a> All Rights Reserved-京ICP备16038988</p>

</div>
</body>

<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css"/>
    <script type="text/javascript" src="/static/semantic/dist/semantic.min.js"></script>
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
</html>